<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* headfrag 조각 대체 */-->
<head th:replace="~{home::headfrag('게시글상세')}"></head>
<body>

<div style="text-align: center">
  <form th:action="@{/board/create}" method="post">
    <input type="hidden" name="bid" th:value="${board.bid}">
    <label for="title">제목</label>
    <input type="text" name="title" id="title" th:value="${board.title}">
    <br>
    <th:block th:if="${not #strings.isEmpty(errors)}">
      <th:block th:if="${errors.hasFieldErrors('title')}">
        <span style="font-size: 0.9em; color: red;" th:text="${errors.getFieldError('title').defaultMessage}"></span>
      </th:block>
    </th:block>
    <br>
    <label for="contetn">내용</label>
    <br>
    <textarea rows="5" cols="30" name="content" id="content" th:text="${board.content}"></textarea>
    <br>
    <th:block th:if="${not #strings.isEmpty(errors)}">
      <th:block th:if="${errors.hasFieldErrors('content')}">
        <span style="font-size: 0.9em; color: red;" th:text="${errors.getFieldError('content').defaultMessage}"></span>
      </th:block>
    </th:block>
    <button type="submit">등록</button><br>
    <th:block th:if="${insertError != null}">
      <div style="font-size: 0.9em; color: red;" th:text="${insertError}"></div>
    </th:block>
  </form>
  
  <form th:action="@{/board/delete}" method="post" onsubmit="onDelete()">
    <input type="hidden" name="bid" th:value="${board.bid}">
    <button type="submit">삭제</button>
  </form>
  <script type="text/javascript">
    function onDelete(){
    	if(!confirm("게시글을 삭제할까요?")){
    		window.event.preventDefault();
    	}
    }
  </script>
  
  <th:block th:if="${updateError != null}">
    <div style="font-size: 0.9; color: red;" th:text="${updateError}"></div>
  </th:block>
  <th:block th:if="${deleteError != null}">
    <div style="font-size: 0.9; color: red;" th:text="${deleteError}"></div>
  </th:block>
  
</div>
</body>
</html>