<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!--/* if */-->
  <!--/* 1) 실제 태그에 적용 */-->
  <div th:if="${#lists.isEmpty(boardList)}">
    <strong>비어 있는 리스트</strong>
  </div> 
  <div th:if="${not #lists.isEmpty(boardList)}">
    <strong>내용 있음 리스트</strong>
  </div>
  <!--/* 2) 타임리프가 제공하는 블록 태그에 적용하기 (화면에 랜더링 할 때 사라짐)*/-->
  <th:block th:if="${#lists.isEmpty(boardList)}" style="text-align: center">
    <strong>비어있다</strong>
  </th:block>
  <th:block th:if="${not #lists.isEmpty(boardList)}">
    <strong>내용있음</strong>
  </th:block>
  
  <hr>
  
  <!--/* unless */-->
   <div th:if="${#lists.isEmpty(boardList)}">
    <strong>비어 있는 리스트</strong>
  </div> 
  <div th:unless="${#lists.isEmpty(boardList)}">
    <strong>내용 있음 리스트</strong>
  </div>
  
  <!--/* 삼항 연산 처리 */-->
  <style>
    .red { color: red; }
    .green { color: green; }
  </style>
  <div th:class="${#lists.isEmpty(boardList)} ? 'red' : 'green' ">
    빨간색은 건너면 안되고, 녹색에서 건너야 합니다.
  </div>
  
  <hr>
  
  <!--/* each */-->
  <!-- 1) 배열 순회 -->
  <th:block th:each="n:${#numbers.sequence(1,5)}">
    <span th:text="|${n}번째 루프|"></span><br>
  </th:block>
  
  <!-- 2) 인덱스 활용 -->
  <th:bloc th:each="n,rowState:${#numbers.sequence(1,5)}">
    <span th:text="|인덱스: ${rowState.index}, 요소: ${n}|"></span><br>
  </th:bloc>
  
  <!-- 3) 리스트 순회 -->
  <th:block th:if="${#lists.isEmpty(boardList)}">
    <div>없음</div>
  </th:block>
  <th:block th:unless="${#lists.isEmpty(boardList)}">
    <div class="board" th:each="board,state:${boardList}">
      <p th:text="${state.index}"></p>
      <p th:text="${board.bid}"></p>
      <p th:text="${board.title}"></p>
      <pre th:text="${board.content}"></pre>
      <p th:text="${#temporals.format(board.createdAt, 'yyyy. MM . dd')}"></p>
    </div>
  </th:block>
</body>
</html>