<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!--/* Link URL Expression : @{} */-->
  <div style="text-align: center">
  <img th:src="@{/static/images/fefe.jpg}" width="100px"><br><br>

  <a th:href="@{/value/expr}">Value Expression</a><br>
  <a th:href="@{/utility}">Utility</a><br>
  <a th:href="@{/messaege/expr}">Message expression</a><br>
  <a th:href="@{/javascript}">with JavaScript</a><br>
  <a th:href="@{/frag/expr}">Fragment Expression</a><br>
  <a th:href="@{/control}">Control Statement</a><br>
  
  </div>
</body>
</html>