<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!--/* JavaScript에서 Java 변수 처리를 위한 텍스트 렌더링 표현식(JavaScript Inline Expression) : [[${}]] */-->
  
  <script th:inline="javascript">
  
  const msg = [[${msg}]];
  if(msg !== '')
	   alert(msg);
    
  </script>
  
  <!--/* Natural Template : 서버 개입 없어도 HTML 파일이 정상적으로 열릴 수 있도록 해 주는 문법 이다. */-->
  <script th:inline="javascript">
    const result = /*[[${result}]]*/ null;
    if(result === null)
      alert("디폴트 값");
    else
    	alert(result);
  </script>
  
  
</body>
</html>